<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746864829178-tcjji8srvd9k7iklm7eojl4n9n475nov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746864829178-tcjji8srvd9k7iklm7eojl4n9n475nov</string>
	<key>API_KEY</key>
	<string>AIzaSyCizcXOpjHt4bNLJoAPeMdOBgiHE_yi_vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>746864829178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.unidoor</string>
	<key>PROJECT_ID</key>
	<string>unidoor-faf29</string>
	<key>STORAGE_BUCKET</key>
	<string>unidoor-faf29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746864829178:ios:a8673d78a98859f4985f43</string>
</dict>
</plist>